.title {
  font-family: cursive;
  text-align: center;
  color: black;
  font-size: 60px;
}
.topRight {
  position: fixed;
  right: 10px;
  top: 50px;
  font-size: 40px;
}
.icon {
  color: white;
  text-decoration: none;
}
.icon:hover {
  background-color: LawnGreen;
  text-decoration: underline;
}
.profilePic {
  max-width: 150px;
  max-height: 200px;
}
.up {
  background-color: DarkCyan;
  align-content: center;
}
.profileInformation {
  width: 25%;
  margin-left:500px;
  margin-top:200px;
  padding: 10px;
  border-style: solid;
  background-color:white;
  color:black;
}
